@import url('base.css');
@import url('fonts.css');

:root {
  --gt-color-grey: #37455C;
  --gt-color-blue: #005AFF;
  --gt-color-white-grey: #EFF4F5;
  --gt-color-orange: #E75855;
  --gt-color-white: #fff;
  --gt-color-purple: #7D3DAF;
  --gt-color-white-green: #1FB69F;
  --gt-color-white-blue: #2CA0DA;
}

/* GT-Header */


header {
  height: 72px;
}

.gt-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}


.gt-tell-link {
  text-align: center;
  display: flex;
  position: relative;
  width: 249px;
  font-size: 20px;
  line-height: 19px;
  color: var(--gt-color-white);
}

.gt-tell-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 21px;
  mask-size: 90%;
  mask-repeat: no-repeat;
  -webkit-mask-image: url('../assets/img/headphone.svg');
  mask-image: url('../assets/img/headphone.svg');
  background: var(--gt-color-grey);
}

.gt-tell-link span {
  color: var(--gt-txt-color);
}

.gt-tell-link span:first-child {
  padding-left: 30px;
}

.gt-txt-primary {
  --gt-txt-color: var(--gt-color-grey);
}

.gt-txt-secondary {
  --gt-txt-color: var(--gt-color-blue);
}


.gt-header-btns {
  display: flex;
  margin-right: -30px;
}

.gt-btn-head {
  position: relative;
  min-width: 72px;
  height: 72px;
  background: var(--gt-btn-bg-color);
  border: none;
  cursor: pointer;
  padding: 24px 24px 24px 0;
  color: var(--gt-color-white);
}

.gt-btn-head::before {
  content: "";
  position: absolute;
  height: 100%;
  left: -28px;
  top: 0;
  width: 28px;
  mask-size: 100%;
  mask-repeat: no-repeat;
  -webkit-mask-image: url('../assets/img/button-left.svg');
  mask-image: url('../assets/img/button-left.svg');
  background: var(--gt-btn-bg-color);
}

.gt-btn-primary {
  --gt-btn-bg-color: var(--gt-color-grey);
}

.gt-btn-secondary {
  --gt-btn-bg-color: var(--gt-color-blue);
}

/* GT-mobile menu */

.gt-mobile-menu {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: var(--gt-color-grey);
  /* display: none; */
}

.nav-links {
  transform: translateX(100%);
  transition: 0.4s ease all;
}

.active {
  transform: translateX(0%);
}

.gt-sticky-btn {
  position: fixed;
  top: 0;
  right: 0;
  margin-right: -16px;
}

.gt-mobile-menu-container {
  display: flex;
  height: calc(100% - 75px);
  flex-direction: column;
  gap: 78px 0;
  box-sizing: border-box;
  overflow: auto;
  padding: 72px 52px 36px 36px;
}

.gt-mobile-menu-list a {
  font-size: 20px;
  line-height: 44px;
  color: #FFFFFF;
}

.gt-mobile-menu-container .gt-tell-link::before {
  background: var(--gt-color-white);
}

.gt-contact {
  display: flex;
  flex-direction: column;
  gap: 26px 0;
}

.gt-contact-social {
  display: flex;
  flex-direction: column;
  gap: 7px 0;
}

.gt-contact-social span {
  font-weight: 400;
  font-size: 16px;
}

.gt-contact-social ul {
  display: flex;
  justify-content: start;
  gap: 0 20px;
}

.gt-contact-social a {
  position: relative;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  margin-left: 14px;
}

.gt-contact-social a::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -14px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--gt-mark-bg-color)
}

.gt-mark-first {
  --gt-mark-bg-color: var(--gt-color-purple);
}

.gt-mark-second {
  --gt-mark-bg-color: var(--gt-color-white-green);
}

.gt-mark-third {
  --gt-mark-bg-color: var(--gt-color-white-blue);
}

.gt-mobile-menue-footer {
  position: fixed;
  height: 75px;
  bottom: 0;
  width: 100%;
  display: flex;
}

.gt-mobile-menue-footer button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  background: var(--gt-menu-btn-bg-color);
  border: none;
  cursor: pointer;
  color: var(--gt-color-white);
  font-size: 12px;
  line-height: 14px;
  font-weight: 700;
  gap: 0 10px;
}

.gt-menu-btn-primary {
  color: var(--gt-color-grey) !important;
  --gt-menu-btn-bg-color: var(--gt-color-white);
}

.gt-menu-btn-secondary {
  --gt-menu-btn-bg-color: var(--gt-color-blue);
}

.gt-mobile-menue-footer span {
  text-align: left;
}

/* Gart-7---Main section */

.gt-main {}

.gt-main-container {
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding: 40px 16px 0 16px;
}

.gt-main .gt-main-title {
  font-size: 35px;
  line-height: 33px;
  text-transform: uppercase;
  color: var(--gt-color-blue);
}

.gt-main .gt-main-title span {
  display: block;
  margin-top: 8px;
  color: var(--gt-color-grey);
}

.gt-main-items {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 22px;
  line-height: 120%;
  color: var(--gt-color-grey);
  gap: 18px;
}

.gt-main-item {
  position: relative;
  display: flex;
  align-items: center;
  height: 52px;
  padding-left: 60px;
}

.gt-main-item::before {
  content: url("data: image/svg+xml, %3Csvg width='13' height='9' viewBox='0 0 13 9' fill='none' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath d='M1.86523 4.49994L6.21964 7.99994L11.7616 0.999939' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E");
  display: flex;
  position: absolute;
  width: 39px;
  height: 52px;
  mask-size: 100%;
  mask-repeat: no-repeat;
  -webkit-mask-image: url('../assets/img/Rectangle.svg');
  mask-image: url('../assets/img/Rectangle.svg');
  background-color: var(--gt-color-blue);
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
}